*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
h1{
    background-color:white;
    text-align: center;
}

.imagperfil{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(71, 3, 77);
    text-align: center;
}

.box{
    width: 500px;
    height: 500px;
        margin: 0 auto;
        margin-top: 4%;
        padding: 20px;
        color: black;
        text-align: center;
        box-shadow: 0 0 20px rgba(186, 23, 186, 0.4);
        border-radius: 15px;
        background: linear-gradient(white 40%,dodgerblue 0%);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.uno,.tres{
    width: 50px;
    height: 50px;
} 
.base{
    background-color:dodgerblue;
    width: 55%;
    height: 54px;
    align-items: center;
    border-radius: 10px;
    margin-top: -63px;
    margin-left: 208px; 
}

.dos{
    width: 50px;
    height: 50px;
}

.uno{
    margin-left: 35%;

}
