body{
    width: 600px;
    margin: auto;
    padding: 0 0px 100px 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman';
    display: block;
    text-align: center;
    align-items: center;
    background: linear-gradient(white 32%, blue 0%);}

h1{
    background-color:white;
}

.imagperfil{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(71, 3, 77);

}

